
<%- include("partials/header.ejs") %>

<div class="container">
  <form id="searchForm" action="" method = "POST" class="subcontainer">
    <input type="text" id="searchBar" name="location" class="search" placeholder="City" list="searchList">
    <datalist id="searchList">
      <!-- suggestions are inserted from javascript -->
    </datalist>
  </form>
  
  <div class="subcontainer" id="location">

    <p id="locationLatLng">
      
    </p>
    
  </div>


  <ul id="weatherRibbon" class="subcontainer">
    <!--items are filled from script-->
  </ul>
  
  
  <div id="weatherDetail" class="subcontainer">
      <div id="detailTop" class="detailRibbon">
        <span id="detailHour">4</span>
        <span id="detailAmpm">pm</span>
        
        <p id="locationName"><%= location %></p>
      </div>
      
      <div id="detailBot" class="detailRibbon">
        <div class="detailBlock">
          <img id="detailIcon" src="https://openweathermap.org/img/wn/11d@2x.png">
        </div>
        <div id="detailTemp" class="detailBlock">
          <span id="detailTempValue">40</span>
          <span id="detailTempDegree">&#176;</span>
          <span id="detailTempUnit">F</span>
        </div>        
        <div id="detailDesc" class="detailBlock">
          
          <p id="detailCond"></p>
          <div id="detailWind">
            <span id="detailWindSpeed"></span>
            <span id="detailWindUnit">mph</span>
            <span> of wind expected from </span>
            <span id="detailWindDirection"></span>
          </div>
          <div id="detailPrecip">
            <span id="detailPrecipChance"></span>
            <span> chance of </span>
            <span id="detailPrecipValue"></span>
            <span id="detailPrecipUnit">inches</span>
            of 
            <span id="detailPrecipType"></span>
          </div>
        </div>
        
      </div>
  </div>
  
  
  <div id="items" class="subcontainer">
    <div id="head" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Helmet</span>
    </div>
    <div id="outer_torso" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Outer Torso</span>
    </div>
    <div id="mid_torso" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Mid Torso</span>
    </div>
    <div id="inner_torso" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Base Torso</span>
    </div>
    <div id="hands" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Hands</span>
    </div>
    <div id="legs" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Legs</span>
    </div>
    <div id="socks" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Socks</span>
    </div>
    <div id="shoes" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Shoes</span>
    </div>
    <div id="shoe_covers" class="itemSlot">
      <img class="itemSlotIcon" src="/assets/image.png">
      <span class="itemSlotTitle">Shoe Covers</span>
    </div>
  </div>
  
</div>
  <%- include("partials/scripts.ejs") %>
  <%- include("partials/recommendations.ejs") %>

  <%- include("partials/searchBar.ejs") %>
  <%- include("partials/apiCalls.ejs") %>
  <%- include("partials/onLoad.ejs") %>
<script>





</script>
  
<%- include("partials/footer.ejs") %>